.mainFormVisibility {
    margin-right: 40px;
}

.recordTypeField {
    width: 170px;
}

.radioLabels {
    font-size: 1.05rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.tooltipContent {
    text-align: center;
}