:root {
    --create-list_aside-width: 20%;
}

.createListForm {
    display: flex;
    flex: 0 0 calc(100% - var(--create-list_aside-width));
    /*170px is headers height */
    height: calc(100vh - 170px);
    min-height: calc(100vh - 170px);
}

.createListFooterWrap {
    /*this resolver priority conflict with inner pane*/
    z-index: 1;
}
