.listTableHeaderSticky {
    position: sticky;
}

.tableWrap {
    position: relative;
    /** 44px is height of pagination panel. It will be removed after migration to the standard pagination of component **/
    height: calc(100% - 44px);
}

.pagingWrap {
    position: absolute;
    width: 100%;
    /** 44px is height of pagination panel. It will be removed after migration to the standard pagination of component **/
    bottom: -44px;
}
