div[class^="spinner"] {
  float: right;
}

div[class^="error-message_position-wrapper"] {
  position: absolute;
  bottom: 5px;
  right: 10px;
  z-index: 999;
  background-color: white;
}

a[class^="refresh-toast_view-list-link"] {
  cursor: pointer;
  font-weight: bold;
}